@use "sass:math";
@function toVw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return math.div($target, $vw-context) * 1vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: toVw(16px);
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

button{
    cursor: pointer;
}

.container{
    display: flex;
    width: toVw(1200px);
    margin: auto;
}

.first-screen{
    padding-bottom: toVw(78px);
    .container{
        flex-direction: column;
        header{
            display: flex;
            padding: toVw(35px) toVw(0px);
            .header-logo{
                margin-right: toVw(610px);
                a{
                    img{
                        height: toVw(42px);
                        width: toVw(140px);
                    }
                }
            }
            .header-menu{
                display: flex;
                gap: toVw(32px);
                margin-right: toVw(68px);
                li{
                    font-size: toVw(16px);
                    font-weight: 500;
                    line-height: toVw(26px);
                }
            }
            .header-btn{
                a{
                    border: none;
                    border-bottom: toVw(1px) solid black;
                    background: none;
                    font-size: toVw(16px);
                    font-weight: 600;
                    line-height: toVw(24px);
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: toVw(5px);
                        width: toVw(16px);
                        height: toVw(16px);
                    }
                }
            }
        }
        .first-screen-info{
            padding: toVw(90px) 0 toVw(85px);
            &__header{
                font-size: toVw(72px);
                font-weight: 700;
                line-height: 120%;
                letter-spacing: toVw(-3px);
                margin-bottom: toVw(100px);
            }
            &-contacts{
                display: flex;
                &-map{
                    position: relative;
                    margin-right: toVw(83px);
                    img{
                        width: toVw(987px);
                        height: toVw(545px);
                    }
                    &__location-info{
                        position: absolute;
                        right: toVw(62px);
                        bottom: toVw(165px);
                        cursor: pointer;
                        width: toVw(180px);
                        padding: toVw(12px) toVw(16px);
                        border-radius: toVw(8px);
                        background-color: #FFFFFF;
                        &-city{
                            font-size: toVw(14px);
                            font-weight: 600;
                            line-height: toVw(20px);
                            margin-bottom: toVw(8px);
                        }
                        &-address{
                            color: #7E8492;
                            font-size: toVw(12px);
                            font-weight: 400;
                            line-height: toVw(18px);
                        }
                    }
                    &__location-icon{
                        cursor: pointer;
                        position: absolute;
                        right: toVw(128px);
                        bottom: toVw(103px);
                        img{
                            width: toVw(54px);
                            height: toVw(54px);
                        }
                    }
                }
                &-mails{
                    display: flex;
                    flex-direction: column;
                    gap: toVw(40px);
                    &-mail{
                        width: toVw(176px);
                        &__header{
                            font-size: toVw(24px);
                            font-weight: 700;
                            line-height: toVw(32px);
                            margin-bottom: toVw(8px);
                        }
                        &__description{
                            color: #7E8492;
                            font-size: toVw(16px);
                            font-weight: 400;
                            line-height: toVw(24px);
                            margin-bottom: toVw(20px);
                        }
                        a{
                            font-size: toVw(16px);
                            font-weight: 500;
                            line-height: toVw(26px);
                        }
                        hr{
                            margin-top: toVw(10px);
                            border: toVw(1px) solid #AFB3BB;
                        }
                    }
                    &-tel{
                        width: toVw(176px);
                        &__header{
                            font-size: toVw(24px);
                            font-weight: 700;
                            line-height: toVw(32px);
                            margin-bottom: toVw(8px);
                        }
                        &__description{
                            color: #7E8492;
                            font-size: toVw(16px);
                            font-weight: 400;
                            line-height: toVw(24px);
                            margin-bottom: toVw(20px);
                        }
                        a{
                            font-size: toVw(16px);
                            font-weight: 500;
                            line-height: toVw(26px);
                        } 
                        hr{
                            margin-top: toVw(10px);
                            border: toVw(1px) solid #AFB3BB;
                        }
                    }
                }
            }
        }
    }
}

.partners{
    padding: toVw(64px) toVw(165px);
    .container{
        justify-content: center;
        padding: toVw(64px) 0;
        .partners-info{
            margin-right: toVw(30px);
            width: toVw(323px);
            &__header{
                font-size: toVw(48px);
                font-weight: 700;
                line-height: toVw(64px);
                margin-bottom: toVw(8px);
            }
            &__description{
                color: #7E8492;
                font-size: toVw(18px);
                font-weight: 500;
                line-height: toVw(32px);
            }
        }
        .partners-logos{
            display: flex;
            gap: toVw(30px);
            flex-wrap: wrap;
            align-items: center;
            width: toVw(730px);
            &__logo{
                width: toVw(160px);
                height: toVw(90px);
                border-radius: toVw(16px);
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: toVw(97px);
                    height: toVw(30px);
                }
            }
        }
    }
}

.feedback{
    padding: toVw(120px) 0 toVw(160px);
    .container{
        .feedback-form{
            position: relative;
            padding: toVw(56px) toVw(48px);
            background-color: #FFFFFF;
            border: toVw(1px) solid #CED1D8;
            &__header{
                font-size: toVw(36px);
                font-weight: 600;
                line-height: toVw(44px);
                letter-spacing: toVw(-0.72px);
                margin-bottom: toVw(20px);
            }   
            &__mail{
                color: #7E8492;
                font-size: toVw(18px);
                font-weight: 400;
                line-height: toVw(30px);
                margin-bottom: toVw(48px);
                a{
                    color: #1463FF;
                    font-size: toVw(18px);
                    font-weight: 500;
                    line-height: toVw(30px);
                }
            }
            .form{
                display: flex;
                flex-direction: column;
                gap: toVw(24px);
                z-index: 10;
                &-names{
                    display: flex;
                    gap: toVw(32px);
                }
                .phone{
                    &-number{
                        position: relative;
                        img{
                            position: absolute;
                            left: toVw(40px);
                            top: toVw(13px);
                            width: toVw(20px);
                            height: toVw(20px);
                        }
                    }
                }
                p{
                    font-size: toVw(14px);
                    font-weight: 500;
                    line-height: toVw(20px);
                    margin-bottom: toVw(6px);
                }
                input{
                    padding: toVw(10px) toVw(14px);
                    font-size: toVw(14px);
                    font-weight: 400;
                    line-height: toVw(24px);
                    border: toVw(1px) solid #EDEDED;
                    border-radius: toVw(8px);
                }
                textarea{
                    width: toVw(512px);
                    padding: toVw(10px) toVw(14px);
                    border: toVw(1px) solid #EDEDED;
                    border-radius: toVw(8px);
                    margin-bottom: toVw(32px);
                    width: toVw(512px);
                    &::placeholder{
                        font-family: Inter;
                        font-size: toVw(14px);
                        font-weight: 400;
                        line-height: toVw(24px);
                    }
                }
            }
            button{
                padding: toVw(16px) toVw(32px);
                font-size: toVw(16px);
                font-weight: 700;
                line-height: toVw(24px);
                border: none;
                border-radius: toVw(100px);
                background-color: #1D1E25;
                color: #FFFFFF;
            }
            .feedback-img{
                position: absolute;
                left: toVw(382px);
                top: 0;
                z-index: -1;
                img{
                    width: toVw(987px);
                    height: toVw(885px);
                }
            }
        }
    }
}

.footer{
    background-color: #1D1E25;
    color: #FFFFFF;
    &-wrapper{
        margin: auto;
        .container{
            background-image: url(../icons/footer-divider.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-top: toVw(80px);
            flex-direction: column;
            .footer-top{
                display: flex;
                justify-content: space-between;
                margin-bottom: toVw(45px);
                &-info{
                    position: relative;
                    &-background{
                        position: absolute;
                        top: toVw(-69px);
                        left: toVw(-54px);
                        width: toVw(621px);
                        height: toVw(621px);
                        border-radius: toVw(621px);
                        opacity: 0.13;
                        background-color: #FA7515;
                        filter: blur(toVw(110px));
                        z-index: -1;
                    }
                    &-header{
                        font-size: toVw(64px);
                        font-weight: 600;
                        line-height: 120%;
                        margin-bottom: toVw(24px);
                    }
                    &-description{
                        display: flex;
                        margin-bottom: toVw(52px);
                        &-text{
                            color: #7E8492;
                            font-size: toVw(18px);
                            font-weight: 500;
                            line-height: toVw(32px);
                        }
                    }
                }
                &-button{
                    position: relative;
                    &-background{
                        position: absolute;
                        top: toVw(125px);
                        right: toVw(-265px);
                        width: toVw(525px);
                        height: toVw(525px);
                        background-color:#E2F8F0B2;
                        border-radius: toVw(525px);
                        filter: blur(toVw(90px));
                        z-index: -1;
                    }
                    button{
                        margin-top: toVw(77.5px);
                        padding: toVw(16px) toVw(32px);
                        border-radius: toVw(100px);
                        border: none;
                        font-size: toVw(16px);
                        font-weight: 700;
                        line-height: toVw(24px);
                    }
                }
            }
            .footer-bottom{
                display: flex;
                margin-bottom: toVw(79px);
                &-logo-text{
                    .footer-bottom-logo{
                        margin-bottom: toVw(4px);
                        img{
                            width: toVw(140px);
                            height: toVw(66px);
                        }
                    }
                    .footer-bottom-text{
                        color: #7E8492;
                        font-size: toVw(16px);
                        font-weight: 500;
                        line-height: toVw(26px);
                        margin-right: toVw(144px);
                    }
                }
                &-navigation{
                    width: toVw(764px);
                    display: flex;
                    justify-content: space-between;
                    .menu{
                        display: flex;
                        flex-direction: column;
                        gap: toVw(16px);
                        &-header{
                            font-size: toVw(16px);
                            font-weight: 700;
                            line-height: toVw(24px);
                            margin-bottom: toVw(24px);
                        }
                        a{
                            color: #7E8492;
                        }
                    }
                }
            }
            hr{
                height: toVw(1px);
                background-color: #CED1D8;
                margin-bottom: toVw(46px);
            }
            .footer-rights{
                display: flex;
                justify-content: space-between;
                padding-bottom: toVw(58px);
                &-socials{
                    display: flex;
                    gap: toVw(24px);
                    a{
                        cursor: pointer;
                        img{
                            width: toVw(20px);
                            height: toVw(20px);
                        }
                    }
                }
                &-menu{
                    display: flex;
                    gap: toVw(40px);
                    list-style-type: none;
                    a{
                        color: #FFFFFF;
                        font-size: toVw(14px);
                        font-weight: 500;
                        line-height: toVw(20px);
                    }
                }
                &-reserved{
                    font-size: toVw(14px);
                    font-weight: 500;
                    line-height: toVw(20px);
                }
            }
        }
    }    
}