@use "sass:math";
@function toVw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return math.div($target, $vw-context) * 1vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: toVw(16px);
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

button{
    cursor: pointer;
}

.container{
    display: flex;
    width: toVw(1200px);
    margin: auto;
}

.first-screen{
    padding-bottom: toVw(78px);
    .container{
        flex-direction: column;
        header{
            display: flex;
            padding: toVw(35px) toVw(0px);
            .header-logo{
                margin-right: toVw(610px);
                a{
                    img{
                        height: toVw(42px);
                        width: toVw(140px);
                    }
                }
            }
            .header-menu{
                display: flex;
                gap: toVw(32px);
                margin-right: toVw(68px);
                li{
                    font-size: toVw(16px);
                    font-weight: 500;
                    line-height: toVw(26px);
                }
            }
            .header-btn{
                a{
                    border: none;
                    border-bottom: toVw(1px) solid black;
                    background: none;
                    font-size: toVw(16px);
                    font-weight: 600;
                    line-height: toVw(24px);
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: toVw(5px);
                        width: toVw(16px);
                        height: toVw(16px);
                    }
                }
            }
        }
        .first-screen-header{
            padding: toVw(80px) toVw(100px) toVw(48px) toVw(130px);
            font-size: toVw(72px);
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: toVw(-3px);
        }
    }
}
.blog{
    padding: toVw(32px) 0 toVw(160px);
    .container{
        width: toVw(940px);
        margin: auto;
        flex-direction: column;
        .blog-info{
            &-posted{
                display: flex;
                margin-bottom: toVw(24px);
                &__person{
                    display: flex;
                    &-img{
                        margin-right: toVw(24px);
                        img{
                            width: toVw(56px);
                            height: toVw(56px);
                        }
                    }
                    &-info{
                        margin-right: toVw(375px);
                        &-name{
                            font-size: toVw(18px);
                            font-weight: 600;
                            line-height: toVw(26px);
                            margin-bottom: toVw(4px);
                        }
                        &-job{
                            color: #7E8492;
                            font-size: toVw(16px);
                            font-weight: 500;
                            line-height: toVw(26px);
                        }
                    }
                }
                &-date{
                    color: #7E8492;
                    font-size: toVw(18px);
                    font-weight: 500;
                    line-height: 150%;
                    padding-top: toVw(29px);
                }
            }
            &-img{
                margin-bottom: toVw(80px);
                img{
                    width: toVw(940px);
                    height: toVw(545px);
                }
            }
            &-description{
                font-size: toVw(18px);
                font-weight: 400;
                line-height: toVw(32px);
                margin-bottom: toVw(56px);
            }
            &-approach{
                font-size: toVw(40px);
                font-weight: 600;
                line-height: 120%;
                margin-bottom: toVw(24px);
            }
            &-text{
                font-size: toVw(18px);
                font-weight: 400;
                line-height: toVw(32px); 
                margin-bottom: toVw(56px);
            }
        }
        .blogger{
            display: flex;
            .blogger-img{
                margin-right: toVw(48px);
                img{
                    width: toVw(200px);
                    height: toVw(200px);
                }
            }
            .blogger-info{
                &-socials{
                    display: flex;
                    gap: toVw(32px);
                    margin-bottom: toVw(14px);
                    li{
                        font-size: toVw(16px);
                        font-weight: 500;
                        line-height: toVw(26px);
                        img{
                            width: toVw(32px);
                            height: toVw(32px);
                        }
                    }
                }
                .blogger-written{
                    color: #7E8492;
                    font-size: toVw(16px);
                    font-weight: 400;
                    line-height: toVw(24px);
                    margin-bottom: toVw(16px);
                }
                .blogger-job{
                    color: #7E8492;
                    font-size: toVw(16px);
                    font-weight: 500;
                    line-height: toVw(26px);
                    margin-bottom: toVw(16px);
                }
                &-description{
                    font-size: toVw(18px);
                    font-weight: 400;
                    line-height: toVw(32px);
                }
            }
        }
    }
}

.footer{
    background-color: #1D1E25;
    color: #FFFFFF;
    &-wrapper{
        margin: auto;
        .container{
            background-image: url(../icons/footer-divider.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-top: toVw(80px);
            flex-direction: column;
            .footer-top{
                display: flex;
                justify-content: space-between;
                margin-bottom: toVw(45px);
                &-info{
                    position: relative;
                    &-header{
                        font-size: toVw(64px);
                        font-weight: 600;
                        line-height: 120%;
                        margin-bottom: toVw(24px);
                    }
                    &-description{
                        display: flex;
                        margin-bottom: toVw(52px);
                        &-text{
                            color: #7E8492;
                            font-size: toVw(18px);
                            font-weight: 500;
                            line-height: toVw(32px);
                        }
                    }
                }
                &-button{
                    position: relative;
                    button{
                        margin-top: toVw(77.5px);
                        padding: toVw(16px) toVw(32px);
                        border-radius: toVw(100px);
                        border: none;
                        font-size: toVw(16px);
                        font-weight: 700;
                        line-height: toVw(24px);
                    }
                }
            }
            .footer-bottom{
                display: flex;
                margin-bottom: toVw(79px);
                &-logo-text{
                    .footer-bottom-logo{
                        margin-bottom: toVw(4px);
                        img{
                            width: toVw(140px);
                            height: toVw(66px);
                        }
                    }
                    .footer-bottom-text{
                        color: #7E8492;
                        font-size: toVw(16px);
                        font-weight: 500;
                        line-height: toVw(26px);
                        margin-right: toVw(144px);
                    }
                }
                &-navigation{
                    width: toVw(764px);
                    display: flex;
                    justify-content: space-between;
                    .menu{
                        display: flex;
                        flex-direction: column;
                        gap: toVw(16px);
                        &-header{
                            font-size: toVw(16px);
                            font-weight: 700;
                            line-height: toVw(24px);
                            margin-bottom: toVw(24px);
                        }
                        a{
                            color: #7E8492;
                        }
                    }
                }
            }
            hr{
                height: toVw(1px);
                background-color: #CED1D8;
                margin-bottom: toVw(46px);
            }
            .footer-rights{
                display: flex;
                justify-content: space-between;
                padding-bottom: toVw(58px);
                &-socials{
                    display: flex;
                    gap: toVw(24px);
                    a{
                        cursor: pointer;
                        img{
                            width: toVw(20px);
                            height: toVw(20px);
                        }
                    }
                }
                &-menu{
                    display: flex;
                    gap: toVw(40px);
                    list-style-type: none;
                    a{
                        color: #FFFFFF;
                        font-size: toVw(14px);
                        font-weight: 500;
                        line-height: toVw(20px);
                    }
                }
                &-reserved{
                    font-size: toVw(14px);
                    font-weight: 500;
                    line-height: toVw(20px);
                }
            }
        }
    }    
}