* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.8333333333vw;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  width: 62.5vw;
  margin: auto;
}

.first-screen {
  padding-bottom: 4.0625vw;
}
.first-screen .container {
  flex-direction: column;
}
.first-screen .container header {
  display: flex;
  padding: 1.8229166667vw 0vw;
}
.first-screen .container header .header-logo {
  margin-right: 31.7708333333vw;
}
.first-screen .container header .header-logo a img {
  height: 2.1875vw;
  width: 7.2916666667vw;
}
.first-screen .container header .header-menu {
  display: flex;
  gap: 1.6666666667vw;
  margin-right: 3.5416666667vw;
}
.first-screen .container header .header-menu li {
  font-size: 0.8333333333vw;
  font-weight: 500;
  line-height: 1.3541666667vw;
}
.first-screen .container header .header-btn a {
  border: none;
  border-bottom: 0.0520833333vw solid black;
  background: none;
  font-size: 0.8333333333vw;
  font-weight: 600;
  line-height: 1.25vw;
  display: flex;
  align-items: center;
}
.first-screen .container header .header-btn a img {
  margin-left: 0.2604166667vw;
  width: 0.8333333333vw;
  height: 0.8333333333vw;
}
.first-screen .container .first-screen-header {
  padding: 4.1666666667vw 5.2083333333vw 2.5vw 6.7708333333vw;
  font-size: 3.75vw;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.15625vw;
}

.blog {
  padding: 1.6666666667vw 0 8.3333333333vw;
}
.blog .container {
  width: 48.9583333333vw;
  margin: auto;
  flex-direction: column;
}
.blog .container .blog-info-posted {
  display: flex;
  margin-bottom: 1.25vw;
}
.blog .container .blog-info-posted__person {
  display: flex;
}
.blog .container .blog-info-posted__person-img {
  margin-right: 1.25vw;
}
.blog .container .blog-info-posted__person-img img {
  width: 2.9166666667vw;
  height: 2.9166666667vw;
}
.blog .container .blog-info-posted__person-info {
  margin-right: 19.53125vw;
}
.blog .container .blog-info-posted__person-info-name {
  font-size: 0.9375vw;
  font-weight: 600;
  line-height: 1.3541666667vw;
  margin-bottom: 0.2083333333vw;
}
.blog .container .blog-info-posted__person-info-job {
  color: #7E8492;
  font-size: 0.8333333333vw;
  font-weight: 500;
  line-height: 1.3541666667vw;
}
.blog .container .blog-info-posted-date {
  color: #7E8492;
  font-size: 0.9375vw;
  font-weight: 500;
  line-height: 150%;
  padding-top: 1.5104166667vw;
}
.blog .container .blog-info-img {
  margin-bottom: 4.1666666667vw;
}
.blog .container .blog-info-img img {
  width: 48.9583333333vw;
  height: 28.3854166667vw;
}
.blog .container .blog-info-description {
  font-size: 0.9375vw;
  font-weight: 400;
  line-height: 1.6666666667vw;
  margin-bottom: 2.9166666667vw;
}
.blog .container .blog-info-approach {
  font-size: 2.0833333333vw;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 1.25vw;
}
.blog .container .blog-info-text {
  font-size: 0.9375vw;
  font-weight: 400;
  line-height: 1.6666666667vw;
  margin-bottom: 2.9166666667vw;
}
.blog .container .blogger {
  display: flex;
}
.blog .container .blogger .blogger-img {
  margin-right: 2.5vw;
}
.blog .container .blogger .blogger-img img {
  width: 10.4166666667vw;
  height: 10.4166666667vw;
}
.blog .container .blogger .blogger-info-socials {
  display: flex;
  gap: 1.6666666667vw;
  margin-bottom: 0.7291666667vw;
}
.blog .container .blogger .blogger-info-socials li {
  font-size: 0.8333333333vw;
  font-weight: 500;
  line-height: 1.3541666667vw;
}
.blog .container .blogger .blogger-info-socials li img {
  width: 1.6666666667vw;
  height: 1.6666666667vw;
}
.blog .container .blogger .blogger-info .blogger-written {
  color: #7E8492;
  font-size: 0.8333333333vw;
  font-weight: 400;
  line-height: 1.25vw;
  margin-bottom: 0.8333333333vw;
}
.blog .container .blogger .blogger-info .blogger-job {
  color: #7E8492;
  font-size: 0.8333333333vw;
  font-weight: 500;
  line-height: 1.3541666667vw;
  margin-bottom: 0.8333333333vw;
}
.blog .container .blogger .blogger-info-description {
  font-size: 0.9375vw;
  font-weight: 400;
  line-height: 1.6666666667vw;
}

.footer {
  background-color: #1D1E25;
  color: #FFFFFF;
}
.footer-wrapper {
  margin: auto;
}
.footer-wrapper .container {
  background-image: url(../icons/footer-divider.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4.1666666667vw;
  flex-direction: column;
}
.footer-wrapper .container .footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.34375vw;
}
.footer-wrapper .container .footer-top-info {
  position: relative;
}
.footer-wrapper .container .footer-top-info-header {
  font-size: 3.3333333333vw;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 1.25vw;
}
.footer-wrapper .container .footer-top-info-description {
  display: flex;
  margin-bottom: 2.7083333333vw;
}
.footer-wrapper .container .footer-top-info-description-text {
  color: #7E8492;
  font-size: 0.9375vw;
  font-weight: 500;
  line-height: 1.6666666667vw;
}
.footer-wrapper .container .footer-top-button {
  position: relative;
}
.footer-wrapper .container .footer-top-button button {
  margin-top: 4.0364583333vw;
  padding: 0.8333333333vw 1.6666666667vw;
  border-radius: 5.2083333333vw;
  border: none;
  font-size: 0.8333333333vw;
  font-weight: 700;
  line-height: 1.25vw;
}
.footer-wrapper .container .footer-bottom {
  display: flex;
  margin-bottom: 4.1145833333vw;
}
.footer-wrapper .container .footer-bottom-logo-text .footer-bottom-logo {
  margin-bottom: 0.2083333333vw;
}
.footer-wrapper .container .footer-bottom-logo-text .footer-bottom-logo img {
  width: 7.2916666667vw;
  height: 3.4375vw;
}
.footer-wrapper .container .footer-bottom-logo-text .footer-bottom-text {
  color: #7E8492;
  font-size: 0.8333333333vw;
  font-weight: 500;
  line-height: 1.3541666667vw;
  margin-right: 7.5vw;
}
.footer-wrapper .container .footer-bottom-navigation {
  width: 39.7916666667vw;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .container .footer-bottom-navigation .menu {
  display: flex;
  flex-direction: column;
  gap: 0.8333333333vw;
}
.footer-wrapper .container .footer-bottom-navigation .menu-header {
  font-size: 0.8333333333vw;
  font-weight: 700;
  line-height: 1.25vw;
  margin-bottom: 1.25vw;
}
.footer-wrapper .container .footer-bottom-navigation .menu a {
  color: #7E8492;
}
.footer-wrapper .container hr {
  height: 0.0520833333vw;
  background-color: #CED1D8;
  margin-bottom: 2.3958333333vw;
}
.footer-wrapper .container .footer-rights {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.0208333333vw;
}
.footer-wrapper .container .footer-rights-socials {
  display: flex;
  gap: 1.25vw;
}
.footer-wrapper .container .footer-rights-socials a {
  cursor: pointer;
}
.footer-wrapper .container .footer-rights-socials a img {
  width: 1.0416666667vw;
  height: 1.0416666667vw;
}
.footer-wrapper .container .footer-rights-menu {
  display: flex;
  gap: 2.0833333333vw;
  list-style-type: none;
}
.footer-wrapper .container .footer-rights-menu a {
  color: #FFFFFF;
  font-size: 0.7291666667vw;
  font-weight: 500;
  line-height: 1.0416666667vw;
}
.footer-wrapper .container .footer-rights-reserved {
  font-size: 0.7291666667vw;
  font-weight: 500;
  line-height: 1.0416666667vw;
}/*# sourceMappingURL=detailblog.css.map */