@use "sass:math";
@function toVw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return math.div($target, $vw-context) * 1vw;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: toVw(16px);
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

button{
    cursor: pointer;
}

.container{
    display: flex;
    width: toVw(1200px);
    margin: auto;
}

.first-screen{
    padding-bottom: toVw(78px);
    .container{
        flex-direction: column;
        header{
            display: flex;
            padding: toVw(35px) toVw(0px);
            .header-logo{
                margin-right: toVw(610px);
                a{
                    img{
                        height: toVw(42px);
                        width: toVw(140px);
                    }
                }
            }
            .header-menu{
                display: flex;
                gap: toVw(32px);
                margin-right: toVw(68px);
                li{
                    font-size: toVw(16px);
                    font-weight: 500;
                    line-height: toVw(26px);
                }
            }
            .header-btn{
                .contact-us{
                    border: none;
                    border-bottom: toVw(1px) solid black;
                    background: none;
                    font-size: toVw(16px);
                    font-weight: 600;
                    line-height: toVw(24px);
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: toVw(5px);
                        width: toVw(16px);
                        height: toVw(16px);
                    }
                }
            }
        }
        .first-screen-info{
            margin-top: toVw(95px);
            text-align: center;
            .first-screen-pricing{
                color: #1463FF;
                font-size: toVw(16px);
                font-weight: 600;
                line-height: toVw(24px);
                margin-bottom: toVw(24px);
            }
            .first-screen-header{
                margin-bottom: toVw(56px);
                font-size: toVw(72px);
                font-weight: 700;
                line-height: 120%;
                letter-spacing:toVw(-3px);
            }
            .first-screen-save{
                display: flex;
                justify-content: center;
                margin-bottom: toVw(122px);
                .toogle{
                    width: toVw(44px);
                    height: toVw(24px);
                    position: relative;
                    padding: toVw(2px);
                    background-color: #EDEDED;
                    margin-right: toVw(14px);
                    border-radius: 100px;
                    img{
                        position: absolute;
                        right: toVw(2px);
                        top: toVw(2px);
                        border-radius: toVw(50px);
                        width: toVw(20px);
                        height: toVw(20px);
                    }
                }
                &-text{
                    color: #7E8492;
                    font-size: toVw(16px);
                    font-weight: 500;
                    line-height: toVw(26px);
                }
            }
        }
        .first-screen-pricing-cards{
            display: flex;
            gap: toVw(32px);
            .first-screen-pricing-card{
                border: toVw(1px) solid #1463FF;
                border-radius: 16px;
                background-color: #161A34;
                padding: toVw(40px) toVw(24px);
                width: toVw(354px);
                height: toVw(801px);
                &-icon{
                    cursor: pointer;
                    border-radius: toVw(100px);
                    background-color: #1463FF;
                    padding: toVw(8px);
                    width: toVw(40px);
                    height: toVw(40px);
                    margin-bottom: toVw(16px);
                    img{
                        width: toVw(24px);
                        height: toVw(24px);
                    }
                }
                &-header{
                    color: #FFFFFF;
                    font-size: toVw(24px);
                    font-weight: 600;
                    line-height: toVw(34px);
                    margin-bottom: toVw(8px);
                }
                &-description{
                    color: #FFFFFF;
                    font-size: toVw(16px);
                    font-weight: 500;
                    line-height: toVw(26px); 
                    margin-bottom: toVw(24px);
                }
                &-price{
                    color: #FFFFFF;
                    font-size: toVw(16px);
                    font-weight: 500;
                    line-height: toVw(26px);
                    margin-bottom: toVw(24px);
                    &-thick{
                        font-size: toVw(56px);
                        font-weight: 600;
                        line-height: 120%;
                        letter-spacing: toVw(-2px);
                        margin-right: toVw(6px);
                    }
                }
                &-include-header{
                    margin-bottom: toVw(16px);
                    color: #FFFFFF;
                }
                &-include{
                    display: flex;
                    flex-direction: column;
                    gap: toVw(16px);
                    margin-bottom: toVw(40px);
                    color: #FFFFFF;
                    li{
                        display: flex;
                        align-content: center;
                        font-size: toVw(16px);
                        font-weight: 500;
                        line-height: toVw(26px);
                        img{
                            width: toVw(24px);
                            height: toVw(24px);
                            margin-right: toVw(8px);
                        }
                    }
                    li.notinclude{
                        color: #7E8492;
                        text-decoration: line-through;
                    }
                }
                &-button{
                    text-align: center;
                    button{
                        background-color: #FFFFFF;
                        border: toVw(1px) solid #EDEDED;
                        border-radius: toVw(100px);
                        padding:toVw(16px);
                        font-size: toVw(16px);
                        font-weight: 600;
                        line-height: toVw(24px);
                    }
                }
                &:first-child{
                    margin-top: toVw(64px);
                    background-color: #FFFFFF;
                    border: toVw(1px) solid #EDEDED;
                    color: #000000;
                    .first-screen-pricing-card-icon{
                        background-color: #F5F5F5;
                    }
                    .first-screen-pricing-card-header{
                        color: #000000;
                    }
                    .first-screen-pricing-card-description{
                        color: #000000;
                    }
                    .first-screen-pricing-card-price{
                        color: #7E8492;
                        &-thick{
                            color: #000000;
                        }
                    }
                    .first-screen-pricing-card-include-header{
                        color: #000000;
                    }
                    .first-screen-pricing-card-include{
                        color: #000000;
                    }
                }
                &:last-child{
                    margin-top: toVw(64px);
                    background-color: #FFFFFF;
                    border: toVw(1px) solid #EDEDED;
                    color: #000000;
                    .first-screen-pricing-card-icon{
                        background-color: #F5F5F5;
                    }
                    .first-screen-pricing-card-header{
                        color: #000000;
                    }
                    .first-screen-pricing-card-description{
                        color: #000000;
                    }
                    .first-screen-pricing-card-price{
                        color: #7E8492;
                        &-thick{
                            color: #000000;
                        }
                    }
                    .first-screen-pricing-card-include-header{
                        color: #000000;
                    }
                    .first-screen-pricing-card-include{
                        color: #000000;
                    }
                }
            }
        }
    }
}

.questions{
    padding: toVw(82px) 0 toVw(160px);
    .container{
        flex-direction: column;
        .questions-header{
            text-align: center;
            font-size: toVw(56px);
            font-weight: 600;
            line-height: 120%;
            letter-spacing: toVw(-2px);
            margin-bottom: toVw(24px);
        }
        .questions-text{
            text-align: center;
            color: #7E8492;
            font-size: toVw(18px);
            font-weight: 500;
            line-height: toVw(32px);
            margin-bottom: toVw(80px);
        }
        .questions-list{
            display: flex;
            flex-direction: column;
            gap: 56px;
            .question{
                position: relative;
                &-info{
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                &-header{
                    font-size: toVw(24px);
                    font-weight: 600;
                    line-height: 150%;
                    margin-bottom: toVw(32px);
                }
                &-answer{
                    color: #7E8492;
                    font-size: toVw(18px);
                    font-weight: 500;
                    line-height: toVw(32px);
                    margin-bottom: toVw(32px);
                }
                hr{
                    border: toVw(1px) solid #EDEDED;
                }
                &:first-child{
                    .question-header{
                        margin-bottom: toVw(16px);
                    }
                }
            }
        }
    }
}
.footer{
    background-color: #1D1E25;
    color: #FFFFFF;
    &-wrapper{
        margin: auto;
        .container{
            background-image: url(../icons/footer-divider.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-top: toVw(80px);
            flex-direction: column;
            .footer-top{
                display: flex;
                justify-content: space-between;
                margin-bottom: toVw(45px);
                &-info{
                    position: relative;
                    &-background{
                        position: absolute;
                        top: toVw(-69px);
                        left: toVw(-54px);
                        width: toVw(621px);
                        height: toVw(621px);
                        border-radius: toVw(621px);
                        opacity: 0.13;
                        background-color: #FA7515;
                        filter: blur(toVw(110px));
                        z-index: -1;
                    }
                    &-header{
                        font-size: toVw(64px);
                        font-weight: 600;
                        line-height: 120%;
                        margin-bottom: toVw(24px);
                    }
                    &-description{
                        display: flex;
                        margin-bottom: toVw(52px);
                        &-text{
                            color: #7E8492;
                            font-size: toVw(18px);
                            font-weight: 500;
                            line-height: toVw(32px);
                        }
                    }
                }
                &-button{
                    position: relative;
                    &-background{
                        position: absolute;
                        top: toVw(125px);
                        right: toVw(-265px);
                        width: toVw(525px);
                        height: toVw(525px);
                        background-color:#E2F8F0B2;
                        border-radius: toVw(525px);
                        filter: blur(toVw(90px));
                        z-index: -1;
                    }
                    button{
                        margin-top: toVw(77.5px);
                        padding: toVw(16px) toVw(32px);
                        border-radius: toVw(100px);
                        border: none;
                        font-size: toVw(16px);
                        font-weight: 700;
                        line-height: toVw(24px);
                    }
                }
            }
            .footer-bottom{
                display: flex;
                margin-bottom: toVw(79px);
                &-logo-text{
                    .footer-bottom-logo{
                        margin-bottom: toVw(4px);
                        img{
                            width: toVw(140px);
                            height: toVw(66px);
                        }
                    }
                    .footer-bottom-text{
                        color: #7E8492;
                        font-size: toVw(16px);
                        font-weight: 500;
                        line-height: toVw(26px);
                        margin-right: toVw(144px);
                    }
                }
                &-navigation{
                    width: toVw(764px);
                    display: flex;
                    justify-content: space-between;
                    .menu{
                        display: flex;
                        flex-direction: column;
                        gap: toVw(16px);
                        &-header{
                            font-size: toVw(16px);
                            font-weight: 700;
                            line-height: toVw(24px);
                            margin-bottom: toVw(24px);
                        }
                        a{
                            color: #7E8492;
                        }
                    }
                }
            }
            hr{
                height: toVw(1px);
                background-color: #CED1D8;
                margin-bottom: toVw(46px);
            }
            .footer-rights{
                display: flex;
                justify-content: space-between;
                padding-bottom: toVw(58px);
                &-socials{
                    display: flex;
                    gap: toVw(24px);
                    a{
                        cursor: pointer;
                        img{
                            width: toVw(20px);
                            height: toVw(20px);
                        }
                    }
                }
                &-menu{
                    display: flex;
                    gap: toVw(40px);
                    list-style-type: none;
                    a{
                        color: #FFFFFF;
                        font-size: toVw(14px);
                        font-weight: 500;
                        line-height: toVw(20px);
                    }
                }
                &-reserved{
                    font-size: toVw(14px);
                    font-weight: 500;
                    line-height: toVw(20px);
                }
            }
        }
    }    
}